﻿@model IEnumerable<Web_S10189272.Models.Staff>

@if (Model.ToList().Count > 0)
{
    <div class="table-responsive">
        <table id="viewStaff" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Photo</th>
                    <th>Email Address</th>
                    <th>Employment Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.StaffId.ToString()</td>
                        <td>@item.Name</td>
                        <td>
                            @{ string imageFileName = item.Name + ".jpg"; }
                            <img src="~/images/@imageFileName" style="width:50px" />
                        </td>
                        <td>@item.Email</td>
                        <td>
                            @{
                                string employmentStatus;
                                if (item.IsFullTime)
                                {
                                    employmentStatus = "Full-Time";
                                }
                                else
                                {
                                    employmentStatus = "Part-Time";
                                }
                            }
                            @employmentStatus;
                        </td>
                        <td>
                            <a asp-action="Edit" asp-controller="Staff" asp-route-id="@item.StaffId">Edit</a>
                            |<a asp-action="Details" asp-controller="Staff" asp-route-id="@item.StaffId">Details</a>
                            |<a asp-action="Delete" asp-controller="Staff" asp-route-id="@item.StaffId">Delete</a>
                        </td>
                    </tr>
                 }
            </tbody>
        </table>
    </div>
}
    else
    {
        <span style ="color:red">No record found!</span>
    }