﻿@model Web_S10189272.Models.Staff

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="PageTitle">AddStaffRecord</h4>
<hr />
<form asp-action="Create">
    <fieldset class="FormContent">
        <div class="form-grouprow">
            <label asp-for="Name" class="col-sm-3col-form-label"></label>
            <div class="col-sm-9col-md-5">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-grouprow">
            <label asp-for="Gender" class="col-sm-3col-form-label"></label>
            <div class="col-sm-9col-md-5">
                <div class="form-groupform-check-inline">
                    <label class="col-form-label">
                        <input asp-for="Gender" type="radio" value="M" checkedclass="form-check-input" />
                        <span>Male</span>
                    </label>
                    <label class="col-form-label">
                        <input asp-for="Gender" type="radio" value="F" class="form-check-input" />
                        <span>Female</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-grouprow">
            <label asp-for="DOB" class="col-sm-3col-form-label"></label>
            <div class="col-sm-9col-md-5">
                <input asp-for="DOB" class="form-control" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
        </div>
        <div class="form-grouprow">
            <label asp-for="Nationality" class="col-sm-3col-form-label"></label>
            <div class="col-sm-9col-md-5">
                <select asp-for="Nationality" asp-items="@ViewData["CountryList"]asList<SelectListItem>" class="form-control"></select>
            </div>
        </div>
        <div class="form-grouprow">
            <label asp-for="Email" class="col-sm-3col-form-label"></label>
            <div class="col-sm-9col-md-5">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-grouprow">
            <label asp-for="Salary" class="col-sm-3col-form-label"></label>
            <div class="col-sm-9col-md-5">
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
        </div>
        <div class="form-grouprow">
            <div class="checkboxcol-sm-9offset-sm-3">
                <input asp-for="IsFullTime" />
                <label asp-for="IsFullTime" class="col-form-label"></label>
            </div>
        </div>
        <div class ="form-grouprow">
            <div class ="col-sm-9offset-sm-3">
                <input type ="submit" value="Create" class="btnbtn-primary" />
            </div>
        </div>
        <div>
            <a asp-action ="Index">BacktoList</a>
        </div>
    </fieldset>
</form>