﻿@model IEnumerable<Web_S10189272.Models.Staff>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class ="PageTitle">View Staff</h4>
<p><a asp-action ="Create">Create New Staff</a></p>
<!--Add a partial view to display a list of staff recordsin a tabular format. -->
<partial name ="~/Views/Staff/_ViewStaff.cshtml" model="@Model" />
