﻿@model Web_S10189272.Models.BranchViewModel

@{
    ViewData["Title"] = "View Branch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="PageTitle">View Branch</h4>   

<div class="table-responsive">
    <table id="viewBranch" class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Address</th>
                <th>Telephone</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.branchList)
            {
                string selectedRow = "";
                if (ViewData["selectedBranchNo"].ToString() == item.BranchNo.ToString())
                {
                    // Highlight the selected row
                    selectedRow = "class='table-primary'";
                }

                <tr @Html.Raw(selectedRow)>
                    <td>@item.BranchNo.ToString()</td>
                    <td>@item.Address</td>
                    <td>@item.Telephone</td>
                    <td>
                    <a asp-action = "Index" asp-controller = "Branch" asp-route-id = "@item.BranchNo">View Staff</a>
                    </td>
                </tr>
            }
</tbody>
</table>
</div> 
 @if (ViewData["selectedBranchNo"].ToString() != "")
 {
     if (Model.staffList.Count != 0)
     {
        <h5>Staff working in Branch
            @ViewData["selectedBranchNo"].ToString() :</h5>
        <partial name="~/Views/Staff/_ViewStaff.cshtml" model="@Model.staffList" />
     }
     else
     {
        <h5>No staff for selected branch!</h5>
     }
 }
