﻿
@{
    ViewData["Title"] = "StaffMain";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--<h2>StaffMain</h2>-->
<img id="imgMainPic" src="~/images/logo.jpg" class="img-fluid" style="display:block; margin:auto;" />
