﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/Site.css" rel="stylesheet" />
    <title>@ViewData["Title"] -NP Book Rental</title>
    <!--Reference to Bootstrap CSS, JavaScript/JQuery files -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!--Reference to customized styling for this website -->
    <link rel="stylesheet" type="text/css" href="~/css/Site.css" />
</head>
<body>
    <!--Bootstrap container, centralise the container between margins -->
    <div class="container">
        <!--1st row -->
        <div class="row">
            <div class="col-sm-12">
                @if (Context.Session.GetString("Role") != null)
                {
                    if (Context.Session.GetString("Role") == "Staff")
                    {
                        @await Html.PartialAsync("_StaffMenu.cshtml")
                    }
                    if (Context.Session.GetString("Role") == "Student")
                    {
                        @await Html.PartialAsync("_StudentMenu.cshtml")
                    }
                }

            </div>
        </div>
        <!--2nd row -->
        <div class="row">
            <div class="col-sm-12">
                <p style="padding:2px 15px;">
                    @{
                        string userId = "Anonymous";
                        string userRole = "Unknown";
                        if (Context.Session.GetString("Role") != null)
                        {
                            userRole = Context.Session.GetString("Role");
                        }
                        if (Context.Session.GetString("LoginID") != null)
                        {
                            userId = Context.Session.GetString("LoginID");
                        }
                    }
                    Welcome,&nbsp;
                    <span style="font-weight:bold">@userId</span>&nbsp;(Role: @userRole).&nbsp;
                </p>
            </div>
        </div>
        <!--3rd row -->
        <div class="row">
            <div class="col-sm-12">
                @RenderBody()
            </div>
        </div>
        <!--4th row -->
        <div class="row">
            <div class="col-sm-12" style="text-align: right">
                <hr />
                <footer>
                    <p style="padding-right:10px;">WEB Practical Exercises - &copy;@DateTime.Today.Year School of ICT, Ngee Ann Polytechnic</p>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>
